In [117]:
import pandas as pd
import numpy as np
import sklearn as sk

In [118]:
from sklearn.metrics import f1_score

In [120]:
predicted = [0,1,1,0,0,0,1]
actual = [0,1,1,0,0,0,1]

In [122]:
o = f1_score(predicted,actual)

In [125]:
test_matrix = np.array([[35., 97.5, 47.5],
						[72.5, 60., 10.],
						[22.5, 110., 85.]])

matrix_to_subtract = np.array([[32.8, 10.1, 5],
								[17.3, 40, 29.7],
								[34.8, 19.4, 7]])

In [134]:
arr = np.array(['03-04-2005 11:35 PM',
						'23-05-2010 12:01 AM',
						'04-09-2009 09:09 PM'])

In [138]:
[pd.Timestamp(x) for x in arr]

TypeError: Expected unicode, got numpy.str_

In [164]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package punkt to /Users/juanluis/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/juanluis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [165]:
mtrx

NameError: name 'mtrx' is not defined

In [ ]:
from nltk.tokenize import word_tokenize
words = word_tokenize()

In [ ]:
new_words= [word for word in words if word.isalnum()]

In [157]:
text = 'If you tell the truth you don’t have to remember anything.'

In [162]:
df.groupby("")

   column_0_int  column_1_int column_2_cat  is_outlier
0             3             6         John        True
1             8             7      Barbara        True
2             7             5      Richard        True
3             6             9        Linda        True
4             0             1        Susan       False
5             9             4      Barbara        True
6             6             0        Linda        True
7             8             6         John        True
8             4             3         John        True
9             2             0      Barbara       False

In [160]:
tokenized = word_tokenize(text)

In [161]:
filtered = []
for t in tokenized:
    if t in stop_words:
        pass
    else:
        filtered.append(t)
        
" ".join(filtered)

'If tell truth ’ remember anything .'

In [ ]:
from datetime import tim

In [145]:
index = pd.to_datetime(arr)

In [151]:
solution = [pd.Timestamp(i) for i in pd.to_datetime(arr)]

In [152]:
solution

[Timestamp('2005-03-04 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-04-09 21:09:00')]

In [149]:
for i in index:
    pd.Timestamp(i)

In [133]:
from datetime import timestamp

ImportError: cannot import name 'timestamp' from 'datetime' (/Users/juanluis/opt/anaconda3/envs/etl/lib/python3.8/datetime.py)

In [132]:
pd.to_timedelta(test_array)

ValueError: only leading negative signs are allowed

In [126]:
test_matrix - matrix_to_subtract

array([[  2.2,  87.4,  42.5],
       [ 55.2,  20. , -19.7],
       [-12.3,  90.6,  78. ]])

In [2]:
a = [4,6,7,5,8,7,5]
b = [3,1,5,-1,7,-2,8]

In [5]:
m_a = np.mean(a)
m_b = np.mean(b)

In [6]:
from scipy import stats

In [7]:
stats.ttest_ind(a, b)

Ttest_indResult(statistic=1.9250668437592438, pvalue=0.07824926412779604)

In [22]:
a, b = 2,6
todos = [a,b,7,8,12]

In [23]:
print(np.median(todos))
print(np.mean(todos))

max(todos) - min(todos)

7.0
7.0

10

In [38]:
from scipy.stats import binom, norm

In [39]:
n_dist = norm(6.5,1.2)

In [52]:
n_dist.cdf(4.1) + (1 - n_dist.cdf(8.9))

0.04550026389635839

In [37]:
n*p

2.25

In [53]:
n, p = 5, 0.45

In [54]:
b_dist = binom(n = 5, p = 0.45)

In [69]:
b_dist.cdf(5)

1.0

In [71]:
binom.cdf(k=4, n=5, p=0.45)

0.9815471875

In [33]:
b_dist.cdf(5)

1.0

In [28]:
b_dist.pdf(5)

AttributeError: 'binom_gen' object has no attribute 'pdf'

In [83]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Input variables
# Number of trials
trials = 30000
# Number of independent experiments in each trial
n = 5
# Probability of success for each experiment
p = 0.45
# Function that runs our coin toss trials
# heads is a list of the number of successes from each trial of n experiments
def run_binom(trials, n, p):
    heads = []
    for i in range(trials):
        tosses = [np.random.random() for i in range(n)]
        heads.append(len([i for i in tosses if i>=0.50]))
    return heads
# Run the function
heads = run_binom(trials, n, p)

In [90]:
(80 -100)/10

-2.0

In [97]:
predicted = [1,0,0,1]
actual = [0,1,0,1]

In [101]:
bool(0)

False

In [102]:
def f1_score(predicted, actual):
    tp, fp, fn = 0, 0, 0
    for x, y in zip(predicted, actual):
        if x == y == 1:
            tp +=1
        elif x == 1 and y == 0:
            fp += 1
        elif x == 0 and y == 1:
            fn += 1
    return round(tp/(tp + 0.5*(fp + fn)),2)

In [167]:
mtrx = np.array([[86, 79, 81, 85],
						[92, 85, 87, 87],
						[73, 77, 94, 83]])

In [169]:
mtrx + mtrx*0.1

array([[ 94.6,  86.9,  89.1,  93.5],
       [101.2,  93.5,  95.7,  95.7],
       [ 80.3,  84.7, 103.4,  91.3]])

In [114]:
df["is_outlier"] = df.column_0_int > 2

In [116]:
df.is_outlier.astype(np.int64)

0    1
1    1
2    1
3    1
4    0
5    1
6    1
7    1
8    1
9    0
Name: is_outlier, dtype: int64

In [112]:
df = generate_fake_dataframe(10, "iic")

In [103]:
f1_score(predicted, actual)

0.5

In [84]:
t = pd.value_counts(heads)

In [85]:
sum(t)

30000

In [86]:
(t.loc[4] + t.loc[5])/trials

0.18883333333333333